html{
	background: black;
	min-width: 950px;
}
body{
	width: 50%;
	color: white;
	margin: 0 auto;
	font-family:sans-serif;
}
header{
	margin-top: 30px;
	text-align: center;
	font-family: cursive;
}
article {
	margin: 20px 0;
	padding: 10px;
}
div{
	margin: 0 auto;
	width: 90%;
	background: black;
	padding: 20px;
}
p{
	text-align: justify;
	text-justify: inter-word;
}
a{
	color: burlywood;
}
iframe{
	padding-left: 5%;
}